*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Publishing credentials
PUBLISHING_CREDENTIALS.md
secring.gpg
private_key.pem
public_key.pem